{% extends "base.html" %}

{% block head %}
	<!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
	<link rel="stylesheet" href="/static/jquery-ui.css">
	<script src="/static/jquery-1.12.4.js"></script>
	<script src="/static/jquery-ui.js"></script>
	<script>
		$(document).ready(
			function() {
				$( ".datepicker" ).datepicker({
					dateFormat: "dd/mm/yy",
					autoclose: true
				});
			});

		$(document).ready(
			function(){
				$.ajax({
					url: '{{ url_for("autocomplete") }}'
					}).done(function (data) {
						$('#game_autocomplete').autocomplete({
							source: data,
							minLength: 2
						});
					});
				});
	</script>
{% endblock %}

{% block content %}
<form action="" method="post" name="enterdata">
{{ form.hidden_tag() }}

	<table>
		<tr>
			<td class="medium" align="right">game:</td>
			<td align="left">{{ form.game(size=16, class='medium') }}<br>
				{% for error in form.game.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</td>
		</tr>

		<tr>
			<td class="medium" align="right">platform:</td>
			<td align="left">{{ form.platform(size=1, class='medium') }}<br>
				{% for error in form.platform.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</td>
		</tr>

		<tr>
			<td class="medium" align="right">date:</td>
			<td align="left">{{ form.date(size=12, class='larger datepicker', autocomplete='off') }}<br>
				{% for error in form.date.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</td>
		</tr>

		<tr>
			<td class="medium" align="right">confirm date:</td>
			<td align="left">{{ form.confirm_date(size=12, class='larger datepicker', autocomplete='off') }}<br>
				{% for error in form.confirm_date.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</td>
		</tr>

		<tr>
			<td class="medium" align="right">ptime:</td>
			<td align="left">{{ form.ptime(size=12, class='larger', autocomplete='off') }}<br>
				{% for error in form.ptime.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</td>
		</tr>

		<tr>
			<td>
				<input type="submit" value="OK" class="larger">
			</td>
		</tr>
	</table>
</form>
{% endblock %}