{% extends "ptimebase.html" %}

{% block ptimecontent %}

{% if form %}
  <form action="" method="post" name="enterdata">
      {{ form.hidden_tag() }}

      <table>
	<tr><td align="left">
		{{ form.ym(size=1, class='medium') }}
		<input type="submit" name="btn" value="OK" class="larger">
		<input type="submit" name="btn" value="Calc" class="larger">
	</td></tr>

	<tr><td align="left">
		{% for error in form.ym.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</td></tr>

	<tr><td>
	</table>
  </form>
<hr>
{% endif %}

	{% for t in tops %}
		<p class="medium">{{ t.title }}</p>
		<table>
		{% for tl in t.list.content %}
			<tr style="white-space: nowrap;">
			<td align="right" style="padding-right:8px">{{tl.rank}}</td>
			<td align="right">{{tl.yearmonth}}</td>
			<td align="left">{{tl.name}}</td>
			<td align="right" style="padding-left:32px">{{tl.time}}</td>
			<td align="left">{{tl.perc}}</td>
			</tr>
		{% endfor %}
		</table>
		{% if t.list.setCacheDate %}<div style="float:center"><i>(cached on {{t.list.setCacheDate}})</i></div>{% endif %}
		<br>
	{% endfor %}

<hr>

{% if form %}
<p class="medium">Monthly hours:</p>
<div>
    {% autoescape false %}
        {{ mpt }}
    {% endautoescape %}
</div>
<p class="medium">Monthly entries:</p>
<div>
    {% autoescape false %}
        {{ mec }}
    {% endautoescape %}
</div>
<p class="medium">Monthly titles:</p>
<div>
    {% autoescape false %}
        {{ mtc }}
    {% endautoescape %}
</div>
<hr>
{% endif %}


{% endblock %}
