{% extends "ptimebase.html" %}

{% block ptimecontent %}

<table>
	<tbody>
		<tr>
			<td style="padding-right:8px" align="right">days:</td>
			<td align="left">{{dbstats.daysgoing}}</td>
		</tr>
		<tr>
			<td style="padding-right:8px" align="right">entries:</td>
			<td align="left">{{dbstats.noofentries}}</td>
		</tr>
		<tr>
			<td style="padding-right:8px" align="right">games:</td>
			<td align="left">{{dbstats.noofgames}}</td>
		</tr>
		<tr>
			<td style="padding-right:8px" align="right">platforms:</td>
			<td align="left">{{dbstats.noofplatforms}}</td>
		</tr>
		<tr>
			<td style="padding-right:8px" align="right">tags:</td>
			<td align="left">{{dbstats.nooftags}}</td>
		</tr>
	</tbody>
</table>
			
<hr>
{% for t in pt %}<p>{{t}}</p>{% endfor %}

<p class="medium">All titles:</p>
<ul>{% for g in games %}<li>{{g}}</li>{% endfor %}</ul>

<p class="medium">All platforms:</p>
<ul>{% for p in platforms %}<li>{{p}}</li>{% endfor %}</ul>

<p class="medium">All tags:</p>
<ul>{% for t in tags %}<li>{{t}}</li>{% endfor %}</ul>

{% endblock %}