{% extends "ptimebase.html" %}

{% block ptimecontent %}

{% for t in tags %}
	<h1 align="left">{{t.rank}} [{{t.time}}] {{t.name}}</h1>

	<table>
	{% for tl in t.titles %}
		<tr>
		<td align="left">{{tl.name}}</td>
		<td align="right" style="padding-left:32px">{{tl.time}}</td>
		</tr>
	{% endfor %}
	</table>
{% endfor %}
<hr>

{% if tmpt %}
    {% for x in tmpt %}
    <p class="medium">{{x.0}}</p>
    <div>
    {% autoescape false %}
        {{ x.1 }}
    {% endautoescape %}
    </div>
    {% endfor %}
{% endif %}


{% endblock %}