{% extends "ptimebase.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/jquery-ui.css">
	<script src="/static/jquery-1.12.4.js"></script>
	<script src="/static/jquery-ui.js"></script>

	<script>
		$(document).ready(
			function(){
				$.ajax({
					url: '{{ url_for("autocomplete") }}'
					}).done(function (data) {
						$('#game_autocomplete').autocomplete({
							source: data,
							minLength: 2
						});
					});
				});
	</script>
{% endblock %}

{% block ptimecontent %}


  <form action="" method="post" name="enterdata">
      {{ form.hidden_tag() }}

      <table>
	<tr>
	  <td align="left">{{ form.game(size=16, class='medium') }}<br>
	  {% for error in form.game.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
	</td></tr>

	<tr><td><input type="submit" value="OK" class="larger"></td></tr>
	</table>
  </form>

{% if tot %}<p class="medium" align="center">All time total {{(tot|last).time}}{% if stats.alltimerank %} (#{{stats.alltimerank}}){% endif %}</p>{% endif %}

<div>
<table>
{% for tl in tot[:-1] %}
	<tr>
	<td align="right" style="padding-right:8px">{{tl.rank}}</td>
	<td align="left">{{tl.name}}</td>
	<td align="right" style="padding-left:32px">{{tl.time}}</td>
	<td align="left">{{tl.perc}}</td>
	</tr>
{% endfor %}
</table>
</br>
</div>

{% if mpt %}
<div>
<hr>
    {% autoescape false %}
        {{ mpt }}
    {% endautoescape %}
<hr>
</div>
{% endif %}

{% if stats.topimpressions %}
<div>
<h3>Top impressions</h3>
<table>
{% for ti in stats.topimpressions %}
	<tr>
	<td align="right" style="padding-right:8px">{{ti.rank}}</td>
	<td align="left">{{ti.yearmonth}}</td>
	<td align="right" style="padding-left:32px">{{ti.time}}</td>
	</tr>
{% endfor %}
</table>
</div>
{% endif %}

{% if mec %}
<div>
<hr>
    {% autoescape false %}
        {{ mec }}
    {% endautoescape %}
<hr>
</div>
{% endif %}

{% for t in pt %}<p>{{t}}</p>{% endfor %}
{% endblock %}